@import "../node_modules/uikit/src/scss/variables-theme.scss";

$navbar-background: #1e87f0;
$navbar-nav-item-color: #fff;
$navbar-item-color: #fff;
$logo-color: #fff;

@import "../node_modules/uikit/src/scss/mixins-theme.scss";
@import "../node_modules/uikit/src/scss/uikit-theme.scss";